@import '~breakpoint-sass/stylesheets/_breakpoint.scss';

$m: '600px';
$l: '1024px';

%layout {
    padding-left: 10px;
    padding-right: 10px;

    @include breakpoint($m) {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0;
    }
}

.top {
    @extend %layout;
}

.navBar {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

    .socialIcons {
        display: none;

        @include breakpoint($m){
            display: block;
        }
    }

    .hamburger {
        display: block;
        height: 2px;
        width: 15px;
        background-color: #252525;
        border-radius: 2px;
        position: relative;

        &::before {
            content: '';
            display: block;
            height: 2px;
            width: 20px;
            background-color: #252525;
            border-radius: 2px;
            position: absolute;
            top: 0;
            left: 0;
            margin-bottom: 10px;
        }

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 20px;
            background-color: #252525;
            border-radius: 2px;
            position: absolute;
            bottom: 0;
            left: 0;
            margin-top: 10px;
        }

        @include breakpoint($m) {
            display: none;
        }
    }
}



.row {
    @include breakpoint($m){
        display: flex;
        padding: 80px 0;
    }
}

.box {
    width: 100%;

    @include breakpoint($m) {
        width: 100%;
    }

    &-left {
        text-align: center;

        @include breakpoint($m){
            text-align: left;
        }
    }

    &-right{
        display: none;

        @include breakpoint($m) {
            display: block;
        }
    }
}

.textContainer {
    max-width: 400px;
}

.listing {
    @extend %layout;
    text-align: center;

    @include breakpoint($m){
        padding: 40px 0 50px;
    }

    &Container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 60px auto 10px;

        @include breakpoint($m) {
            display: block;
        }
    }
}